

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= link_to 'Lista wykładowców', teachers_path %></button>
    </div>
</div>