<h1 style="margin-left:50px">Edytuj dane nauczyciela</h1>

<%= render 'form', teacher: @teacher %>

<div style="margin-left:50px"><%= link_to 'Przedmioty', @teacher %> |
<%= link_to 'Wróć', teachers_path %>
</div>